* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}


#contenedor {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center/cover;
  overflow: hidden;
}

/* EL BANANAS*/
#personaje {
  position: absolute;
  bottom: 58%;   /* altura */
  left: 8%;      
  width: 240px;
  height: 240px;
  background: url("../img/dk.png") no-repeat center/contain;
  animation: salto 2s linear infinite;
}


#barril1 {
  position: absolute;
  bottom: 13%;   /* altura */
  left: 10%;    
  width: 160px;
  height: 160px;
  background: url("../img/barril.png") no-repeat center/contain;
  transform: rotate(-15deg);
}

#barril2 {
  position: absolute;
  bottom: 14%;   /*altura */
  right: 10%;   
  width: 160px;
  height: 160px;
  background: url("../img/barril.png") no-repeat center/contain;
}
.girobarril{
 animation: rotarbarril 2s linear infinite;



}
@keyframes rotarbarril{
  from{
    transform: rotate(0deg);

  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes salto{
  0%{
    bottom: 100%;

  }
  25%{
    bottom: 60%;

  }
  50%{
    bottom: 42%;
  }
  75%{
    left: 30%;
    bottom: 40%;
  }
  100%{
    left: 80%;
    bottom:14%;

  }
}