* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}


#contenedor {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center/cover;
  overflow: hidden;
}

/* EL BANANAS*/
#personaje {
  position: absolute;
  bottom: 58%;   /* altura */
  left: 8%;      
  width: 240px;
  height: 240px;
  background: url("../img/dk.png") no-repeat center/contain;
  animation: salto 2s linear infinite;
  
  
  
}


#barril1 {
  position: absolute;
  bottom: 13%;   /* altura */
  left: 10%;    
  width: 160px;
  height: 160px;
  background: url("../img/barril.png") no-repeat center/contain;
  transform: rotate(-15deg);
}

#barril2 {
  position: absolute;
  bottom: 14%;   /*altura */
  right: 10%;   
  width: 160px;
  height: 160px;
  background: url("../img/barril.png") no-repeat center/contain;
   animation: rotarbarril 1s linear infinite, opacidadBarril 2s linear infinite;
  
}
.girobarril{
 animation: rotarbarril 2s linear infinite;



}
@keyframes rotarbarril{
  from{
    transform: rotate(0deg);

  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes salto{
  0%{
    bottom: 100%;

  }
  15%{
    bottom: 60%;

  }
  25%{
    bottom: 49%;
  }
  35%{
    bottom: 42%;
    width: 220px;
  height: 220px;
    
  }
  55%{
    left: 30%;
    bottom: 40%;
    width: 200px;
  height: 200px;
  }
  70%{
    left: 80%;
    bottom:14%;
    width: 150px;
    height: 150px;
     transform: rotate(100deg);
  }
  80%{
    left: 80%;
    bottom:30%;
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
    
  }
  90%{
    left: 80%;
    bottom:64%;
    width: 180px;
    height: 180px;
    transform: rotate(360deg);
  }
  100%{
    left: 80%;
    bottom:85%;
    width: 220px;
    height: 220px;
    transform: rotate(660deg);
  }

  

}
.opacidad{
  animation: opacidadBarril 2s linear infinite;
}
@keyframes opacidadBarril{
  0%{opacity: 1;}
  15%{opacity: 1;}
  25%{opacity: 1;}
  35%{opacity: 1;}
  55%{opacity: 1;}
  70%{opacity: 0.5;}
  80%{opacity: 0.5;}
  90%{opacity: 1;}
  100%{opacity: 1;}
} 